<p-toast [style]="{marginTop: '80px', width: '350px'}"></p-toast>

<form [formGroup]="model" (ngSubmit)="onSubmit()">
  <p-panel header="{{headerTitle}}">
    <div class="general-panel-container">
      <p-panel header="Settings">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Name:
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" placeholder="Required" formControlName="name"/>
            </div>
            <div class="ui-grid-col-4">
              <p-message severity="error" text="Name is required" *ngIf="!model.controls['name'].valid&&model.controls['name'].dirty"></p-message>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Symbol:
            </div>
            <div class="ui-grid-col-6">
              <input pInputText type="text" placeholder="Required" [attr.disabled]="isEditAndCreationDisabled" formControlName="symbol"/>
            </div>
            <div class="ui-grid-col-4">
              <p-message severity="error" text="Type is required" *ngIf="!model.controls['symbol'].valid&&model.controls['symbol'].dirty"></p-message>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              Description:
            </div>
            <div class="ui-grid-col-6">
              <textarea pInputTextarea type="text" [autoResize]="false" [cols]="3" formControlName="description"></textarea>
            </div>
            <div class="ui-grid-col-4"></div>
          </div>

        </div>
      </p-panel>
    </div>

    <p-footer>
      <button pButton class="ui-button-info" (click)="onBack()" label="Back"></button> &nbsp;
      <button pButton class="ui-button-warning" type="submit" [disabled]="!model.valid" label="{{submitButtonLabel}}"></button> &nbsp;
    </p-footer>
  </p-panel>
</form>
