<p-panel header="Attributes dictionary">
  <p-table [columns]="cols" [value]="attributes$ | async" [rowHover]="true" dataKey="symbol">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns" (click)="onRowClicked(rowData)">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
