.selected-menu-item {
  background: lightgrey !important;
}

.unselected-menu-item {
  background: none;
}

.xdevicesmainmenu li {
  white-space: nowrap;
}

.xdevicesmainmenu ul {
  width: auto !important;
}
